.App {
  text-align: center;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  width: 30%;
  margin: auto;
}

li {
  list-style: none;
}

.navigation-link {
  color: black;
  text-decoration: none;
}

.navigation-link:hover {
  text-decoration: underline;
}